<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package Name="Winget Automatic"
    Manufacturer="Henrique Mendonça Castelar Campos"
    Version="$(var.ProductVersion)"
    UpgradeCode="5368c52b-c334-4269-a36c-1d8b2d615e91">
    
    <!-- Manages the removal of old versions automatically -->
    <MajorUpgrade DowngradeErrorMessage="A recent version is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="Main">
      <ComponentRef Id="ServiceComponent" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="Winget Automatic" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <Component Id="ServiceComponent" Directory="INSTALLFOLDER" Guid="*">
      <!-- File for the 64-bit service executable. Installs only on 64-bit Windows. -->
      <File Id="ServiceExecutable_x64" Source="installer-stage\winget_automatic_x64.exe" Name="winget_automatic_x64.exe" KeyPath="yes" Condition="VersionNT64" />

      <!-- File for the 32-bit service executable. Installs only on 32-bit Windows. -->
      <File Id="ServiceExecutable_x86" Source="installer-stage\winget_automatic_x86.exe" Name="winget_automatic_x86.exe" KeyPath="yes" Condition="NOT VersionNT64"/>

      <!-- Service installer-->
      <ServiceInstall Id="ServiceInstaller" Name="WingetAutomaticService" DisplayName="Winget Automatic" Description="Automatically installs program updates using Winget." Type="ownProcess" Start="auto" ErrorControl="normal" Account="LocalSystem" />
      <ServiceControl Id="ServiceControl" Name="WingetAutomaticService" Start="install" Stop="both" Remove="uninstall" Wait="yes" />
    </Component>
  </Fragment>
</Wix>